@charset "utf-8";

/* common */
body {background: #ccc;}
button {}

.inner {}
.blind {}


/* Header */
header {}
header .inner {display: flex;}

/* Query => 질의하다 */
/* pc 가로 */
@media screen and (min-width: 1280px) {
	body {background: pink;}
	header .inner {flex-direction: row;}
}
@media screen and (min-width: 760px) and (max-width: 1279px) {
	body {background: yellowgreen;}
}
/* 중간 사이즈 => Default */
/* mob 세로 */
@media screen and (max-width: 550px) {
	body {background: lightblue;}
	header .inner {flex-direction: column;}
}

/* Footer */
footer {}


/* Main */
main {}